@font-face {
    font-family: 'Chromatica';
    src: url('../fonts/chromatica-regular.otf'), format('opentype');
}
body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../Images/Background.jpg");
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 1em !important;
}

/* Lista dos itens */
#listabg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    row-gap: 15px;
    background-color: aliceblue;
    background-size: 40%;
    border-radius: 15%;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    margin: auto;
    width: 40%;
    min-height: 500px;
}
h3{
    order: 1;
    flex: 1;
    flex-basis: 5%;
    align-self: flex-start;
    width: 100%;
    margin-top: -1em;
    font-family:'Courier New', Courier, monospace;
}
#showItens{
    order: 2;
    flex: 5;
    padding-left: 27%;
    text-align: start;
    font-family:'Courier New', Courier, monospace;
    align-self: flex-start;
}

/* Botões da lista \/ */
.editItenBtn, .delItenBtn{
    max-width: 32px;
    max-height: 32px;
    background: none;
    border: none;
}
#editImg, #delImg{
    max-width: 15px;
    max-height: 15px;
}


/* Botões fixos da página \/ */
.button{
    font-family: 'Chromatica';
    background-color: wheat;
    border-radius: 30%;
    max-height: 25px;
    width: fit-content;
    text-decoration: none;
    color: black;
}
#bottombts{
    order: 3;
    flex: 1;
}
